body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

section {
    margin: 0 5% 0 5%;
}

.row {
    display: flex;
    flex-direction: row;
    padding-top: 38px;
}

.row>.col1 {
    width: 40%;
    text-align: right;
    margin-right: 4px;
}
.imgPreview {
    padding-left: 95px;
}
.row>.col2 {
    width: 50%;
}

.col1>img {
    max-width: 90%;
    height: auto;
    border-radius: 7px;
}

.row>div {
    margin: 30px;
}

.col2>h1 {
    font-size: 3vw;
    font-family: Arial;
    padding-right: 0px;
    height: 35px;
}

.col2>p {
    margin-right: 10%;
    text-align: justify;
    font-size: 1.5vw;
    line-height: 1.3em;
}
s {
    display: flex;
    height: 4px;
    margin-top: 10px;
}
h2 {
    font-size: 1.5vw;
    font-size: 30px;
    height: 20px;
    font-family: Arial;
}

select {
    font-size: 1vw;
    width: auto;
    margin-left: 1em;
}
form {
    height: 25px;
}
b {
    font-size: 20px;
}

span {
    display: inline-flex;
    padding-top: 0px;
    margin-left: 30px;
}
input[type="text"] {
    display: inline;
    padding: 8px;
    width: 95px;
    border-radius: 10px;
    border: 2px solid #000;
    margin-left: 10px;
    text-shadow: none;
    outline: 0;
    margin: 5px;
    margin-top: 0px;
}
input[type="submit"]{
    padding: 12px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #e24a3f;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}
button[type="submit"]:hover {
    background-color: #000;
}
select[name="desconto"] {
    padding: 2px;
    height: 42px;
    width: 112px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #000;
    margin: 8px;
    margin-left: 10px;
}

.wishlist {
    text-decoration: none;
    color: #555555;
    margin-left: 30px;
}

.wishlist:hover {
    color: #000;
}
